In [182]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [183]:
df1=pd.read_csv("dataset_tahap2.csv")
df2=pd.read_csv("dataset_tahap2_1.csv")
df3=pd.read_csv("dataset_tahap2_2.csv")
df4=pd.read_csv("dataset_tahap2_3.csv")
df5=pd.read_csv("dataset_tahap2_4.csv")

In [184]:
df=pd.concat([df1,df2,df3,df4,df5])

In [185]:
df

,destiny,todo,todo_lagi,rating,reviewers,link
0,Bintan,Tur (39),Air Adventures Flying Club Bintan,"5,0 dari 5 lingkaran",64 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
1,Bintan,Tur (39),Bintan Trip,"5,0 dari 5 lingkaran",36 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
2,Bintan,Tur (39),Bintan Taxi (民丹岛出租车服务）,"5,0 dari 5 lingkaran",32 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
3,Bintan,Tur (39),Bintan taxi adventure,"5,0 dari 5 lingkaran",4 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
4,Bintan,Tur (39),Bintan Adventures,"5,0 dari 5 lingkaran",26 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
...,...,...,...,...,...,...
25761,Batu Karas,Tur (2),Longboard Wave,"5,0 dari 5 lingkaran",1 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
25762,Batu Karas,Tur dengan Perahu & Olahraga Air (2),GOA Green Canyon,"5,0 dari 5 lingkaran",3 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
25763,Batu Karas,Tur dengan Perahu & Olahraga Air (2),Longboard Wave,"5,0 dari 5 lingkaran",1 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
25764,Batu Karas,Aktivitas Luar Ruangan (2),GOA Green Canyon,"5,0 dari 5 lingkaran",3 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
25765,Batu Karas,Aktivitas Luar Ruangan (2),Longboard Wave,"5,0 dari 5 lingkaran",1 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...

omitting data without rating

In [187]:
df[df["rating"].isnull()]

,destiny,todo,todo_lagi,rating,reviewers,link
7,Bintan,Tur (39),Bintan Mangrove Discovery - Tur Harian,NaN,62 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
9,Bintan,Tur (39),Chill Cove @ Treasure Bay Bintan,NaN,60 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
14,Bintan,Tur (39),Crystal Lagoon,NaN,11 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
15,Bintan,Tur (39),Tasik Dvers Bintan,NaN,10 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
17,Bintan,Tur (39),Bintan Reno Tours,NaN,6 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
...,...,...,...,...,...,...
25753,Singakerta,Kursus & Sanggar (1),Artha Ceramic Studio,NaN,2 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
25754,Singakerta,Hiburan & Permainan (1),Artha Ceramic Studio,NaN,2 ulasan,https://www.tripadvisor.co.id/Attraction_Revie...
25757,Singapadu Kaler,Tur (1),Bali Trip & Adventure,NaN,NaN,https://www.tripadvisor.co.id/Attraction_Revie...
25758,Singapadu Kaler,Tur dengan Perahu & Olahraga Air (1),Bali Trip & Adventure,NaN,NaN,https://www.tripadvisor.co.id/Attraction_Revie...
25759,Singapadu Kaler,Aktivitas Luar Ruangan (1),Bali Trip & Adventure,NaN,NaN,https://www.tripadvisor.co.id/Attraction_Revie...

In [8]:
df.to_csv("dataset_spot_indo.csv", index=False)

check and drop for any duplications

In [79]:
df[df.duplicated()]

,destiny,todo,todo_lagi,reviewers,link
974,Bintan,Tur (39),Air Adventures Flying Club Bintan,64,https://www.tripadvisor.co.id/Attraction_Revie...
975,Bintan,Tur (39),Bintan Trip,36,https://www.tripadvisor.co.id/Attraction_Revie...
976,Bintan,Tur (39),Bintan Taxi (民丹岛出租车服务）,32,https://www.tripadvisor.co.id/Attraction_Revie...
977,Bintan,Tur (39),Bintan taxi adventure,4,https://www.tripadvisor.co.id/Attraction_Revie...
978,Bintan,Tur (39),Bintan Adventures,26,https://www.tripadvisor.co.id/Attraction_Revie...
...,...,...,...,...,...
61465,Kuta Selatan,Masuk Gratis (9),Pantai Tegal Wangi,210,https://www.tripadvisor.co.id/Attraction_Revie...
61466,Kuta Selatan,Masuk Gratis (9),Pantai Jimbaran,1052,https://www.tripadvisor.co.id/Attraction_Revie...
61467,Kuta Selatan,Masuk Gratis (9),Sereh Gourmet Supermarket,39,https://www.tripadvisor.co.id/Attraction_Revie...
61468,Kuta Selatan,Tempat yang Belum Populer (4),Pasar Ikan Jimbaran,457,https://www.tripadvisor.co.id/Attraction_Revie...
61469,Kuta Selatan,Tempat yang Belum Populer (4),Pantai Tegal Wangi,210,https://www.tripadvisor.co.id/Attraction_Revie...

In [82]:
df=df.drop_duplicates(keep="first")

In [85]:
df=df.reset_index().drop("index", axis=1)

In [137]:
df.to_csv("dataset_spot_indo.csv")